[Desktop Entry]
Name=Voice Book Reader
Exec=bash -c "source path_to_virenv_folder/bin/activate; cd path_to_virenv_folder/workspace; python -m src.main"
Icon=path_to_virenv_folder/workspace/src/icons/dark/headphones.ico
Type=Application
Terminal=false
StartupNotify=true
